<!DOCTYPE html>
<html lang="pt-BR" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout.html}">
<head>
    <title>Municípios</title>
</head>
<body>
<section layout:fragment="content" class="margem">
    <h3 class="titulo">Municípios</h3>

    <div th:replace="fragments/mensagemSucesso"></div>
    <div th:replace="fragments/mensagemErroSemForm"></div>

    <table id="data-table" class="table table-striped">
        <thead>
        <tr>
            <th class="col-2">Id</th>
            <th class="col-3">Município</th>
            <th class="col-3">Estado</th>
            <th class="col-4"></th>
        </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</section>
<th:block layout:fragment="script">
    <script src="/js/municipio.js"></script>
</th:block>
</body>
</html>
