<!DOCTYPE html>
<html lang="pt-BR" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout.html}">
<head>
    <title>Edição de Imóvel</title>
</head>
<body>
<section layout:fragment="content" class="margem">
    <h3 class="inline">Editar Imóvel</h3>
    <a class="btn btn-default voltar" th:href="@{/pedido/pedidos}">
        <i class="fas fa-arrow-left"></i> Voltar</a>

    <div>
        <form th:action="@{/pedido/editar}" method="post" th:object="${pedido}" enctype="multipart/form-data">
            <div th:replace="fragments/mensagemErro"></div>
            <div th:replace="fragments/mensagemSucesso"></div>

            <div class="row">
                <div class="form-item col-5" th:classappend="${erroProduto}? is-invalid">
                    <label for="produto-select">Negócio</label>
                    <select id="produto-select" th:field="*{produto.id}" class="form-control">
                        <option value="" selected>Escolha o tipo de Negócio</option>
                        <option th:each="neg:${produtos}" th:value="${neg.id}" th:text="${neg.nome}">
                    </select>
                </div>

                <div class="form-item col-5" th:classappend="${erroCategoria}? is-invalid">
                    <label for="categoria-select">Categoria</label>
                    <select id="categoria-select" th:field="*{categoria.id}" class="form-control">
                        <option value="" selected>Escolha o tipo de Categoria</option>
                        <option th:each="cat:${categorias}" th:value="${cat.id}" th:text="${cat.nome}">
                    </select>
                </div>
            </div>

            <div class="row">
                <div class="form-item col-5" th:classappend="${erroQuarto}? is-invalid">
                    <label for="quarto-select">Quartos</label>
                    <select id="quarto-select" th:field="*{quarto.id}" class="form-control">
                        <option value="" selected>Escolha a quantidade de Quartos</option>
                        <option th:selected="${q.id==idQuarto}" th:each="q:${quartos}" th:value="${q.id}" th:text="${q.descricao}">
                    </select>
                </div>

                <div class="form-item col-5" th:classappend="${#fields.hasErrors('valor')}? is-invalid">
                    <label for="valor">Valor</label>
                    <input class="form-control" id="valor" th:field="*{valor}"
                           placeholder="Digite o Valor do Imóvel">
                </div>
            </div>

            <div class="row">
                <div class="form-item col-3" th:classappend="${erroEstado}? is-invalid">
                    <label for="estado-select">Estado</label>
                    <select id="estado-select" class="form-control" name="idEstado">
                        <option value="" selected>Escolha o Estado</option>
                        <option th:selected="${e.id==idEstado}" th:each="e:${estados}" th:value="${e.id}"
                                th:text="${e.nome}">
                    </select>
                </div>

                <div class="form-item col-4" id="municipio-div" th:styleappend="${idEstado}?'': 'display:none'"
                     th:classappend="${erroMunicipio}? is-invalid">
                    <label for="municipio-select">Município</label>
                    <select id="municipio-select" class="form-control" name="idMunicipio">
                        <option value="" selected>Escolha o Município</option>
                        <option th:selected="${m.id==idMunicipio}" th:each="m:${municipios}" th:value="${m.id}"
                                th:text="${m.nome}">
                    </select>
                </div>

                <div class="form-item col-3" id="bairro-div"
                     th:styleappend="${idMunicipio} and ${idEstado}?'': 'display:none'"
                     th:classappend="${erroBairro}? is-invalid">
                    <label for="bairro-select">Bairro</label>
                    <select id="bairro-select" th:field="*{bairro.id}" class="form-control">
                        <option value="" selected>Escolha o Bairro</option>
                        <option th:selected="${b.id==idBairro}" th:each="b:${bairros}" th:value="${b.id}" th:text="${b.nome}">
                    </select>
                </div>

                <div class="form-item col-5" th:classappend="${erroAtivo}? is-invalid">
                    <label for="ativo-select">Status</label>
                    <select id="ativo-select" class="form-control" th:field="*{ativo}">
                        <option th:value="1" >Ativo</option>
                        <option th:value="0" >Inativo</option>
                    </select>
                </div>
            </div>
            <div class="add-photo">
                <label for="file">Foto:</label>
                <input class="form-control input-file" type="file" multiple="multiple" id="file" name="files[]"/>
            </div>
            <br><br>
            <input type="hidden" th:field="*{id}"/>
            <button type="submit" class="btn btn-success">
                <i class="fas fa-save"></i> Salvar
            </button>
        </form>
    </div>
</section>
</body>
</html>
