<!DOCTYPE html>
<html lang="pt-BR" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout.html}">
<head>
    <title>Edição de Item Cardápio</title>
</head>
<body>
<section layout:fragment="content" class="margem">
    <h3 class="inline">Editar Item Cardápio</h3>
    <a class="btn btn-default voltar" th:href="@{/cardapio/cardapio-items}">
        <i class="fas fa-arrow-left"></i> Voltar</a>

    <form th:action="@{/cardapio/cardapio-item/editar}" method="post" th:object="${cardapioItem}" enctype="multipart/form-data">
        <div th:replace="fragments/mensagemErro"></div>
        <div th:replace="fragments/mensagemSucesso"></div>

        <div class="form-item col-5" th:classappend="${erroCategoria}? is-invalid">
            <label for="categoria-select">Categoria</label>
            <select id="categoria-select" th:field="*{categoria.id}" class="form-control">
                <option value="" selected>Escolha a Categoria</option>
                <option th:each="cat:${categorias}" th:value="${cat.id}" th:text="${cat.nome}">
            </select>
        </div>

        <div class="form-item col-5" th:classappend="${erroCardapio}? is-invalid">
            <label for="cardapio-select">Cardápio</label>
            <select id="cardapio-select" th:field="*{cardapio.id}" class="form-control">
                <option value="" selected>Escolha o Cardápio</option>
                <option th:each="car:${cardapios}" th:value="${car.id}" th:text="${car.nome}">
            </select>
        </div>

        <div class="form-item" th:classappend="${#fields.hasErrors('nome')}? is-invalid">
            <label for="nome">Nome do Item</label>
            <input class="form-control" id="nome" th:field="*{nome}"
                   placeholder="Digite o nome do Item" required>
        </div>

        <div class="form-item col-5" th:classappend="${erroProduto}? is-invalid">
            <label for="produto-select">Produtos (Ingredientes)</label>
            <select id="produto-select" th:field="*{{produtos}}" multiple class="form-control">
                <option th:each="pro:${produtos}" th:value="${pro.id}" th:text="${pro.nome}">
            </select>
        </div>

        <div class="form-item" th:classappend="${#fields.hasErrors('preco')}? is-invalid">
            <label for="preco">Preço</label>
            <input class="form-control" id="preco" th:field="*{preco}"
                   placeholder="Digite o Preço" required>
        </div>

        <div class="add-photo">
            <label for="file">Imagem:</label>
            <input class="form-control input-file" type="file" multiple="multiple" id="file" name="files[]"/>
        </div>
        <br><br>
        <input type="hidden" th:field="*{id}">
        <button type="submit" class="btn btn-success">
            <i class="fas fa-save"></i> Salvar
        </button>
    </form>
</section>
</body>
</html>
