<!DOCTYPE html>
<html lang="pt-BR" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout.html}">
<head>
    <title>Visualização de Cardápio</title>
</head>
<body>
<section layout:fragment="content" class="margem">
    <h3 class="inline">Visualização de Cardápio</h3>
    <a class="btn btn-default voltar" th:href="@{/cardapio/cardapio-items}">
        <i class="fas fa-arrow-left"></i> Voltar</a>

    <div class="margem-visualizar">
        <div class="row">
            <div class="col-3">
                <b>Categoria: </b>
                <!--<span th:text="${cardapio-item.categoria.nome}"></span>-->
            </div>
            <div class="col-3">
                <b>Cardápio: </b>
                <!--<span th:text="${cardapio-item.cardapio.nome}"></span>-->
            </div>
            <div class="col-6">
                <b>Item do Cardápio: </b>
                <span th:text="${cardapio-item.nome}"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-8">
                <b>Produtos: </b>
                <span th:text="${cardapio-item.produtos}"></span>
            </div>
            <div class="col-4">
                <b>Valor: </b>
                <span th:text="${'R$ ' + cardapio-item.preco}"></span>
            </div>
        </div>
        <br>
        <!-- <div class="row">
            <h4>Fotos:</h4>
        </div>
        <div class="row" th:unless="${cardapio-item.imagens.size>0}">
            <span>Sem fotos</span>
        </div>
        <div class="row" th:if="${cardapio-item.imagens.size>0}">
            <div class="card card-pedido col-3" th:each="imagem:${cardapio-item.imagens}">
                <span class="btn-delete-image" th:id="${imagem.id}">
                    <i class="fas fa-times-circle"></i>
                </span>
                <a th:href="@{${'/imagem/'+imagem.file}}" target="_blank">
                    <img class="card-img-pedido" th:src="@{${'/imagem/'+imagem.file}}">
                </a>
            </div>
        </div>
        <div class="row add-photo">
            <form method="post" th:action="@{/imagem/armazenar-imagem}" enctype="multipart/form-data">
                <h4 class="inline" for="file">Adicionar imagem:</h4>
                <br>
                <input type="hidden" name="idCardapioItem" th:value="${cardapio-item.id}">
                <input class="form-control input-file" type="file" multiple="multiple" id="file" name="files[]"/>
                <button type="submit" class="btn btn-success">
                    <i class="fas fa-plus"></i> Adicionar
                </button>
            </form>
        </div> -->
    </div>
</section>
</body>
</html>
